.containerm {
		margin-top: 10px;
		margin-bottom: 30px;
		max-width: 700px;
		border-width:1px;
		border-color: #e0e0e0;
		border-radius: 3px;
		border-style:solid;
		box-shadow: 0px 0px 1px grey;
		background-color: white;
	}
.fond {
		background-color: #d6d6d6;
	}
.btn-success {
		border-color : #b7241f;
		background-color : #e52d27;
		border-radius: 2px;
	}

	.btn-success {
  color: #fff;
border-color : #b7241f;
		background-color : #e52d27;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
border-color : #b7241f;
		background-color : #e52d27;
}
.btn-success:hover {
  color: #fff;
border-color : #b7241f;
		background-color : #e52d27;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
border-color : #b7241f;
		background-color : #e52d27;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
border-color : #b7241f;
		background-color : #e52d27;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

h1 {
		font-weight:lighter;
		font-size: 32px;
	
	}

body {
	background-color:#d6d6d6;
}